<div fxLayout="column">
  <div fxLayout="row">
    <mat-checkbox (change)="reloadFactories($event.checked)" [checked]="loadFactoryWithNoActive">
      {{ 'CONFIGURATION.FACTORIES.LOAD_NOACTIVE' | translate}}
    </mat-checkbox>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let item of items" (click)="updateItem(item._id)">
      
      <span matListItemTitle>{{item.shortName}} -> {{item.name}}</span>
      <span matListItemLine>{{item.address}}</span>
      <span matListItemLine>{{item.emails ? item.emails.join(', ') : ''}}</span>

      <button matListItemMeta (click)="deleteItem(item._id)"><mat-icon>delete</mat-icon></button>
    </mat-list-item>
  </mat-list>

  <button mat-fab color="primary" class="mat-fab-bottom-right" (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>
</div>